.section__contents__content
  .section__contents__content__image
    - if post.image?
      = image_tag post.image.thumb.url
    - else
      = image_tag "noimage.gif"
  .section__contents__content__text
    .section__contents__content__text__category
      - post.tag_list.each do |tag|
        = link_to tag, posts_path(tag_name: tag), class: "article__country"
    .section__contents__content__text__headline
      = link_to post.title, post_path(post.id), class: "article__headline"