
.wrapper
  .header
    .header__logo
      %h1 NewsGlobe
    .header__right
      .header__right__signup
        %p 新規登録
      .header__right__login
        %p ログイン
  .body
    .main
      .section
        .section__title
          %h1 /Latest News/
        .section__contents
          .section__contents__content
            .section__contents__content__image
              ここに画像
            .section__contents__content__text
              .section__contents__content__text__category
                ここに記事のカテゴリ
              .section__contents__content__text__headline
                ここに記事に見出し
          